* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#000 ;
    color: #fff;
    font-size: 20px;
    @media {

    }
}
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.637),rgba(0, 0, 0, 0.849)), url(https://images.squarespace-cdn.com/content/v1/5ab4527b3c3a536a7a352c05/1541877193342-OL7HX836XCR79CHF4D29/ke17ZwdGBToddI8pDm48kKG6OoQUcDwE6Xrn0CktdYIUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc7wdBxA2FfWIL_oInLxCuGYBExGLaY8v4Pn7yFeMELUKe4DQXRx1Bu1AnCO9mIfj2/adidasFballUS_x_Miami_Nights_Tunnel.jpg?format=2500w);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.bannertext{
    font-family: 'Anton', sans-serif;
    font-size: 110px;
    color: rgba(230, 90, 9, 0.842);
    text-shadow: 5px 10px 20px rgba(255, 255, 255, 0.582);

}
.bigu{
    color:#fff;
    font-size: 180px;
    text-shadow: 5px 4px 15px rgba(230, 90, 9, 0.753);
    }
/*main section*/
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(230, 90, 9, 0.932);
    text-shadow: 2px 1px 2px #fff;
    letter-spacing: 0.2em;
}
h2{
    padding-left: 20px;
}
.maintext h1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.maintext p {
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin-bottom: 100px;
    line-height: 1.2em;
}
.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.midbanner{
    background-image:  url(https://i.imgur.com/W5sJtml.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin-bottom: 100px;
}

/*image gallery*/
.maingallery{
     margin: -5px auto 0 auto;
    display: flex;
    justify-content: center;
}
.galleryimages{
    width: 300px;
    height:300px;
    padding: 2px 2px 0 2px;
    border-radius: 8px;
    box-sizing: border-box;
}
figcaption{
    text-align: center;
}
#smoke{
    background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.425)), url(https://ak.picdn.net/shutterstock/videos/2718020/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}