* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#000 ;
    color: #fff;
    font-size: 20px;
}
.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/*header*/
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.658)), url(https://images.squarespace-cdn.com/content/v1/5ab4527b3c3a536a7a352c05/1541877193342-OL7HX836XCR79CHF4D29/ke17ZwdGBToddI8pDm48kKG6OoQUcDwE6Xrn0CktdYIUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc7wdBxA2FfWIL_oInLxCuGYBExGLaY8v4Pn7yFeMELUKe4DQXRx1Bu1AnCO9mIfj2/adidasFballUS_x_Miami_Nights_Tunnel.jpg?format=2500w);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.bannertext{
    font-family: 'Anton', sans-serif;
    font-size: 90px;
    color: rgba(230, 90, 9, 0.842);
    text-shadow: 5px 10px 20px rgba(255, 255, 255, 0.582);
}
.bigu{
    color:#fff;
    font-size: 120px;
    text-shadow: 5px 4px 15px rgba(230, 90, 9, 0.753);
    }
/*main section*/
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-bottom: 70px;
    color: rgba(230, 90, 9, 0.932);
    text-shadow: 2px 1px 2px #fff;
    letter-spacing: 0.2em;
}
.maintext h1 h2{
    font-family: Arial, Helvetica, sans-serif;
}
.maintext p {
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin-bottom: 100px;
    line-height: 1.2em;
}
/*mid section*/
.movedown{
    position: relative;
    top: 40px;
}
.midbanner{
    background-image:  url(https://i.imgur.com/W5sJtml.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin-bottom: 100px;
}

/*image gallery*/
.maingallery{
     margin: 90px auto 0 auto;
     padding: 20px;
    display: flex;
    justify-content: center;   
}
.secondmaingallery{
    margin: -45px auto 0 auto;
    padding: 20px;
   display: flex;
   justify-content: center;   
}
.galleryimages{
    width: 290px;
    height:290px;
    padding: 2px 2px 0 2px;
    border-radius: 8px;
    box-sizing: border-box;
}
figcaption{
    text-align: center;
}
#smoke{
    background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.425)), url(https://ak.picdn.net/shutterstock/videos/2718020/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:800px)   {
    body{
        text-align:center;
        font-size: 20px;
    }
    .banner{
        background-position: center;
        height: 75vh;
    }
    .bannertext{
        text-align: center;
        font-size: 50px;
    }
    .bigu{
        color:#fff;
        font-size: 52px;
        text-shadow: 5px 4px 15px rgba(230, 90, 9, 0.753);
        }
    h1{
        font-size:40px;
        padding: 0 30px;
        margin: 20px 0;
    }
    p{
        margin: 0px 30px;
    }
    .midbanner{
        background-image: none;
        position:absolute;
    }
    .maingallery, .secondmaingallery {
        display: flex;
        flex-direction: column;
    }
    .galleryimages{
    width: 350px;
    height:350px;
    border-radius: 5px;
    box-sizing: border-box;
    }
    .container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:500px){
body{
    text-align:center;
    font-size: 20px;
}
.banner{
    background-position: center;
    height: 75vh;
}
.bannertext{
    text-align: center;
    font-size: 40px;
}
.bigu{
    color:#fff;
    font-size: 40px;
    text-shadow: 5px 4px 15px rgba(230, 90, 9, 0.753);
    }
h1{
    font-size:30px;
    padding: 0 30px;
    margin: 20px 0;
}
p{
    margin: 0px 20px;
}
.midbanner{
    display: none;
}
.maingallery, .secondmaingallery {
    display: flex;
    flex-direction: column;
}
.galleryimages{
width: 300px;
height:300px;
border-radius: 5px;
box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
}
